@model PDE.Models.Entities.CargoTerritorial

@{
    ViewData["Title"] = "Create";
}

<h1 class="mt-4"></h1>
<div class="card">
    <div class="card-header">
       <i class="fas fa-table me-1"></i>
         Agregar Cargo Territoriales
    </div>
   <div class="card-body">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="CargoId" class="control-label">Cargo</label>
                        <select asp-for="CargoId" asp-items="@ViewBag.CargoId" class="form-control">
                            <option>--Seleccione un cargo--</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="CargoSupervisorId" class="control-label">Cargo Supervisor</label>
                        <select asp-for="CargoSupervisorId" asp-items="@ViewBag.SupervisorId" class="form-control">
                            <option>--Seleccione un cargo supervisor--</option>
                        </select>
                    </div>
                </div>
            </div>
            <br />
             <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="LocalidadId" class="control-label">Localidad</label>
                        <select asp-for="LocalidadId" asp-items="@ViewBag.LocalidadId" class="form-control">
                            <option>--Seleccione la localidad--</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="EstructuraId" class="control-label">Estructura</label>
                        <select asp-for="EstructuraId" asp-items="@ViewBag.EstructuraId" class="form-control">
                            <option>--Seleccione la estructura--</option>
                        </select>
                    </div>
                </div>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Agregar" class="btn btn-primary" />
            </div>
        </form>
   </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

