@model PDE.Models.Entities.CargoTerritorial

@{
    ViewData["Title"] = "Create";
}

<h1 class="mt-4"></h1>
<div class="card">
    <div class="card-header">
       <i class="fas fa-table me-1"></i>
         Agregar Cargo Territoriales
    </div>
   <div class="card-body">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="CargoId" class="control-label">Cargo</label>
                        @Html.DropDownListFor(model => model.CargoId, ViewBag.CargoId as SelectList,"--Seleccione un cargo--",new { @class="form-control"})
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="CargoSupervisorId" class="control-label">Cargo Supervisor</label>
                         @Html.DropDownListFor(model => model.CargoSupervisorId, ViewBag.SupervisorId as SelectList,"--Seleccione un cargo supervisor--",new { @class="form-control"})

                    </div>
                </div>
            </div>
            <br />
             <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="LocalidadId" class="control-label">Localidad</label>
                        @Html.DropDownListFor(model => model.LocalidadId, ViewBag.LocalidadId as SelectList,"--Seleccione un localidad--",new { @class="form-control"})
                    </div>
                </div>
                <div class="col-md-6">

                </div>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Agregar" class="btn btn-primary" />
            </div>
        </form>
   </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

