@model PDE.Models.Dto.CargoTerritorialDto

@{
    ViewData["Title"] = "Edit";
}

<h1 class="mt-4"></h1>
<div class="card">
    <div class="card-header">
       <i class="fas fa-table me-1"></i>
         Editar Cargo Territoriales
    </div>
   <div class="card-body">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="CargoId" class="control-label">Cargo</label>
                        <select asp-for="CargoId" class ="form-control" asp-items="ViewBag.CargoId"></select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="CargoSupervisorId" class="control-label">Cargo Supervisor</label>
                        @*<select asp-for="SupervisorId" class ="form-control" asp-items="ViewBag.SupervisorId"></select>*@
                        @Html.DropDownListFor(model => model.CargoSupervisorId, ViewBag.SupervisorId as SelectList,"--Seleccione un cargo supervisor--",new { @class="form-control"})
                    </div>
                </div>
            </div>
            <br />
             <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="LocalidadId" class="control-label">Localidad</label>
                        <select asp-for="LocalidadId" class ="form-control" asp-items="ViewBag.LocalidadId"></select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="EstructuraId" class="control-label">Estructura</label>
                        <select asp-for="EstructuraId" asp-items="@ViewBag.EstructuraId" class="form-control">
                            <option>--Seleccione la estructura--</option>
                        </select>
                    </div>
                </div>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Editar" class="btn btn-primary" />
            </div>
        </form>
   </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

